.courses {
    margin-top: -21.5px;
}

@media only screen and (min-width: 800.5px) {
    .coursesParent {
        display: grid;
        grid-template-columns: 15% 70% 15%;
    }
    .switchTag {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 800.5px) {
    .switchTag {
        margin-top: -25px;
    }
}

.sideBarCourses {
    display: block;
    padding: 8px 0px 8px 12px;
    text-decoration: none;
    font-weight: 600;
    color: rgba(22, 22, 22, 0.959);
}

.sideBarCourses:hover {
    background-color: rgba(241, 178, 241, 0.7);
}

.sideBarCoursesActive {
    background-color: white;
}