.containerDiv {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 21.25% 21.25% 15% 21.25% 21.25%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    z-index: 2;
    font-size: 90%;
}

.childDiv {
    cursor: pointer;
    /* background: linear-gradient(18deg, #ffffffb7, rgba(255, 192, 203, 0.699)); */
    color: black;
    text-decoration: none;
    border-radius: 20px;
}

.childDiv:hover {
    background: whitesmoke;
}

.childDivActive {
    border-bottom: 3px solid rgb(127, 141, 219);
}

.childSpan {
    font-weight: 900;
}

.childSpanMobile {
    display: none;
}

@media only screen and (min-width: 830.5px) {
    .childDiv {
        background: linear-gradient(18deg, #cee7e7, whitesmoke);
        padding: 13px 0px;
    }
}

@media only screen and (max-width: 830.5px) {
    .containerDiv {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .childSpan {
        display: none;
    }
    .childDiv {
        background: linear-gradient(18deg, #ffffff8e, rgba(255, 192, 203, 0.25));
        padding: 8px 2px 2px 2px;
    }
    .childSpanMobile {
        display: block;
        font-size: 70%;
    }
}