.h1 {
    text-align: center;
    color: #43646b;
    font-size: 180%;
}

.h2 {
    color: green;
}

.a {
    color: #541a8bd3;
}

@media only screen and (max-width: 800.5px) {
    .divContainer {
        padding: 0px 8px;
    }
}

@media only screen and (min-width: 800.5px) {
    .divContainer {
        padding: 0px 2%;
    }
}

.listCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.listCard {
    margin: 3%;
    padding: 1px 8px;
    background-color: rgba(238, 147, 144, 0.25);
    backdrop-filter: blur( 6px);
    -webkit-backdrop-filter: blur( 6px);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
}

.i {
    color: rgba(0, 0, 0, 0.7);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.253);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

@media only screen and (max-width: 459.5px) {
    td, th {
        word-break: break-all;
    }
}

.activeNavLink {
    color: green;
    text-decoration: none;
}

.navLink {
    color: grey;
}