.logo {
    background: linear-gradient(141.05deg, #bddede 22.35%, #e7e7e7 119.99%);
    background-blend-mode: darken;
    font-family: orbitron;
    font-style: normal;
    font-weight: bolder;
    font-size: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'salt' on;
    padding: 10px 15px;
    z-index: 2;
}

.logo>a {
    text-decoration: none;
    color: purple;
}