.h1{
background: linear-gradient(141.05deg, #dcdcdc 22.35%, rgba(255, 255, 255, 0) 119.99%);
background-blend-mode: darken;
font-family: orbitron;
font-style: normal;
font-weight:bolder;
font-size: 198%;
display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'salt' on;
padding: 10px 15px;
z-index: 2;
}
.h1:hover{
    background: linear-gradient(141.05deg, #dcdcdcce 22.35%, rgba(255, 255, 255, 0) 109.99%);
}