.navlinkContainerMobile, .navlinkContainerPC, .rightNavBarMobileButton {
    position: fixed;
    z-index: 1;
}

@media only screen and (min-width: 800.5px) {
    .navlinkContainerPC {
        top: 10px;
        right: 22px;
    }
    .navlinkContainerMobile {
        display: none;
    }
    .rightNavBarMobileButton {
        display: none;
    }
}

@media only screen and (max-width: 800.5px) {
    .navlinkContainerMobile {
        top: 60px;
        right: 22px;
    }
    .navlinkContainerPC {
        display: none;
    }
    .rightNavBarMobileButton {
        cursor: pointer;
        top: 15px;
        right: 10px;
    }
}

.navlink {
    display: block;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: right;
    padding: 6px 8px;
    text-decoration: none;
    background-color: #a0c5dd3a;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px 0px 15px 15px;
    margin-top: 7px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.363);
}

.navlinkContainerMobile, .navlinkContainerPC.navlinkContainerOn, .rightNavBarMobileButton {
    transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.navlinkContainerOn {
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}

.navlinkActive {
    background-color: #eaeaea;
}