html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: chakraPetch;
  src: url(./fonts/ChakraPetch-Regular.ttf);
}

@font-face {
  font-family: orbitron;
  src: url(./fonts/Orbitron-SemiBold.ttf);
}

body {
  margin: -26px 0px;
  font-family: chakraPetch;
  font-size: 120%;
  line-height: 1.5;
  width: 100%;
}

@media only screen and (min-width: 1250.5px) {
  body {
    background-color: #f5f7f8;
    background-image: url('./assets/reading-side.svg'), url('./assets/reading-right.svg');
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: left 94%, right 94%;
    background-size: 200px 200px, 200px 200px;
  }
}

@media only screen and (max-width: 1250.5px) {
  body {
    /* In case linear gradient unsupported */
    background: #ffffff6c;
  }
}

/* Below are common css styles, used in many components. */

.glassmorphism {
  backdrop-filter: blur( 5px);
  -webkit-backdrop-filter: blur( 5px);
}

.card {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 10px 38px 32px 0 rgba(31, 38, 135, 0.185), -10px -1px 32px 0 rgba(31, 38, 135, 0.185);
  scrollbar-width: thin;
}