@media only screen and (min-width: 800.5px) {
    .profilePage {
        width: 70%;
        margin: auto;
    }
}

.h2 {
    padding: 0px 10px;
}

.authMessage {
    font-size: 150%;
    margin-top: 5%;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 4px;
    background-color: rgba(209, 151, 209, 0.6);
    color: rgb(49, 48, 48);
}

.divContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.divContributionList {
    margin: 3%;
    padding: 13px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
}

.divContributionList:hover {
    box-shadow: 0px 0px 10px rgba(18, 71, 107, 0.603);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.fileUrl {
    word-wrap: break-word;
}