.input {
    display: block;
    border-radius: 30px;
    border: 2px solid rgba(128, 0, 128, 0.5);
    margin: 5px 0px 10px 0px;
    width: 90%;
    padding: 10px ;
    font: inherit;
    font-size: 1rem;
    color: rgb(66, 3, 66);
    background-color: rgba(0, 0, 0, 0);
}

.input[type="search"] {
    display: inline-block;
    width: 80%;
    height: 45px;
    padding: 0px 0px 0px 10px;
}

.input:focus {
    outline: 2px solid rgba(128, 0, 128, 0.2);
}